.banner {
 width: 100%;
 border: 1px solid red;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.products-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .products-listing {
    margin-top: 10px;
  }
  .home-image{
    display: none;
  }
}