body {
  background-color: rgb(201, 201, 201);
}
* {
  margin: 0;
  padding: 0;
}

.mobile-search {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  height: 60px;
  position: sticky;
  z-index: 100;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .mobile-search {
    display: flex;
  }
}

.btn {
  background-color: rgb(255, 216, 20);
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 175px;
}
.error {
  color: red;
  font-weight: 700;
  margin-bottom: 10px;
}
